body,
html,
h1,h2,h3,p,ul,ol,a{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    padding:20px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    background-color:beige ;
}

P,ol{
    max-width: 30vw;
}

a{
    text-decoration: none;
    color: grey;
    font-size: 32px;
}
a:hover{
    color: blueviolet;
}
ol,ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px;
}
